*{
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}


.btn{
    margin: 20px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 7px;
    transition: 0.3s;
}

.btn:hover{
    background-color: aqua;
    color: black;
    cursor: pointer; 
}

.btn:active{
    background-color: rgb(227, 188, 188);
    transform: scale(0.7);
}

.inp{
    margin: 20px;
    outline: none;
    border: none;
    border: 1px solid aqua;
    border-radius: 0px;
    padding: 7px;
    
}

.inp::placeholder{
    color: aqua;
    font-size: 12px;
    font-family: cursive;
}

.inp:focus{
    border: 1px solid orange;
    
}

.matn{
    font-size: 30px;
}

.matn::first-letter{
    font-size: 60px;
    font-family: cursive;
    color: gold;
}

.matn::first-line{
    color: orange;
}


.box{
    width: 300px;
    height: 400px;
    border: 1px solid rgb(5, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: red;
    padding: 10px;
}

.box:hover .button{
    background-color: orange;
}


.menu{
    width: 200px;
    height: 30px;
    

}

.listlar{
    width: 100%;
    display: none;
}

.listlar li{
    list-style: none;
}

.menu:hover .listlar{
    display: block;
}

.listlar li:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}