body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
}

#box1 {
    top: 50px;
    left: 50px;
    border-radius: 100%;
    background: radial-gradient(at 20px 20px,orange,orangered);
}

#box2 {
    top: 200px;
    border-radius: 100%;
    left: 200px;
    background: radial-gradient(at 20px 20px,orange,orangered);
}


#boxme{
    width: 100px;
    height: 100px;
    background: radial-gradient(at 20px 20px,orange,orangered);
    position: absolute;
}